<h1>eat-da-burger</h1>

<main>
    <div class="contianer">
        <div class="burger-before">
            <div class="col s6">

                {{#each burgers}} {{#unless this.devoured}}
                <div>
                    <form action="/burger.js{{this.id}}?_menthod=PUT" method="POST">
                        <button type="submit" class="burgerAvailable"> {{this.burger_name}}</button>
                    </form>
                </div>
                {{/unless}} {{/each}}
            </div>

            <div class="burger-after">
                {{#each burgers}} {{#if this.devoured}}
                <div class="burgerEaten">
                    <div>
                        {{this.burger_name}}
                    </div>
                </div>

                {{/if}} {{/each}}
            </div>
        </div>
    </div>
</main>

<h5>Enter a burger you want to eat</h5>

<div class="submit-row">
    <div class="col s12">
        <form action="/burger" method="POST">
            <input type="text" id="name" name="burger_name" placeholder="">
            <button type="submit" class="addBurgerButton">Add The Burger</button>

        </form>
    </div>



</div>